@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

body {
  overflow-y: scroll;
}

.listItems {
  @apply border-b-white border-b-1 pb-5;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floatElement {
  animation: float 2s infinite;
  opacity: 0.5;
}

.techStack {
  @apply text-[#0D1116] bg-white rounded-2xl px-3 py-1 text-sm;
}
